.wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  left: 0;
  top: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
}

.enter {
  // margin-left: -300px;
  opacity: 0;
}

.enterActive {
  // margin-left: 0;
  // transition: margin-left 300ms;
  opacity: 1;
  transition: opacity 300ms;
}

.exit {
  // margin-left: 0;
  opacity: 1;
}

.exitActive {
  // margin-left: -300px;
  // transition: margin-left 300ms;
  opacity: 0;
    transition: opacity 300ms;

}


